<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title - CPH</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/bundles/css")
    </head>
    <body>
        <header class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">CPH</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @Html.MenuItem("Home", "Index", "Home")
                        @Html.MenuItem("Team", "Index", "Team")
                        @Html.MenuItem("Projects", "Index", "Projects")
                        @Html.MenuItem("Tech", "Index", "Tech")
                    </ul>
                </div>
            </div>
        </header>
        <main id="content" class="container">
            @RenderBody()
        </main>
        <footer class="container" role="contentinfo">
            <hr>© 2013 Creuna CPH | Clone on <a href="https://github.com/whyleee/Cph">GitHub</a>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/js")
        @RenderSection("scripts", required: false)
    </body>
</html>